.container {
	position: relative;
	width: auto;
	padding: 5px;
	font-size: 1.2rem;
	display: flex;
	flex: 1;
}

.input {
	border: 1px solid #eee;
	text-indent: 5px;
	outline: none;
	width: 100%;
	height: 1.5rem;
	border-radius: 3px;
	padding: 0;
	margin: -1px;
}

.input:focus {
	border: 1px solid #4791ff;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.input:focus + .list {
	border-color: #4791ff;
	border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}

.list {
	width: 100%;
	height: auto;
	max-height: 220px;
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 3px #ededed;
	padding: 0;
	display: none;
	overflow-x: hidden;
	overflow-y: auto;
	border-radius: 3px;
	border-top: none;
	z-index: 2;
	margin: -1px;
}
.empty {
	display: none;
}

.item {
	list-style: none;
    margin: 0;
    color: #000;
    font: 14px arial;
    line-height: 22px;
    padding: 0 8px;
    position: relative;
    cursor: default;
}
.item:hover {
	background: #eee;
}