.base {
    width: 62px;
    height: 62px;
    background: url(../../Resource/img/p2.png) no-repeat center center;
    cursor: pointer;
}

.selected {
    composes: base;
    background: url(../img/p1.png) no-repeat center center;
}