.common {
    display: block;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 3px 15px rgba(0,0,0,.4);
    color: #fff;
    font-weight: 700;
    margin: 5px 0;
}

.common a {
    color: #fff;
    text-decoration: none;
}

.conform {
    composes: common;
    width: 330px;
    height: 74px;
    font-size: 36px;
    margin-top: 52px;
    line-height: 74px;
    background: -webkit-linear-gradient(top,#ec2e2f,#d90102);
}

.happy {
    composes: common;
    width: 367px;
    height: 70px;
    line-height: 70px;
    border-radius: 10px;
    font-size: 42px;
    background: -webkit-linear-gradient(top,#ec2e2f,#d90102);
}

.start {
    composes: common;
    width: 290px;
    height: 178px;
    font-size: 100px;
    line-height: 170px;
    background: -webkit-linear-gradient(top,#ec2e2f,#d90102);
}

.base {
    composes: common;
    width: 164px;
    height: 52px;
    line-height: 48px;
    font-size: 30px;
    background: -webkit-linear-gradient(top,#ff7717,#eb6101);
    border-radius: 5px;
}