.mask {
	position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 50;
    background: rgba(0,0,0,.5);
    display: block;
}

.banner {
    margin: 0 auto;
    position: relative;
    z-index: 52;
    width: 960px;
    height: 650px;
    line-height: 224px;
    font-size: 180px;
    color: #e3384a;
    text-align: center;
    letter-spacing: 50px;
    background: url('../../Resource/img/popbox.png') no-repeat -5px 0;
    font-weight: 700;
    top: 60px;
}

.name {
    margin: 0 auto;
    padding-top: 230px;
    padding-left: 40px;
}

.close {
	position: absolute;
    right: 0px;
    top: 0px;
    z-index: 3;
    width: 80px;
    height: 80px;
    line-height: 68px;
    font-size: 90px;
    text-indent: 8px;
    color: #fff;
    text-indent: -999em;
    cursor: pointer;
}