@font-face{
	font-family: fzzt;
	src:url('./FZZDHJW.TTF');
}

body {
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none; 
	box-sizing: border-box;
	font-family: fzzt;
	margin: 0;
	padding: 0;
	background: #eb3535 url('./img/bg.png') no-repeat center top;
}

.container {
	position: relative;
    width: 100%;
    min-height: 237px;
    background: url('./img/tle.png') no-repeat left top;
	background-size: contain;
}

.topBtnGroup {
	position: absolute;
	right: 63px;
	top: 35px;
}